name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Gitleaks scan
        uses: zricethezav/gitleaks-action@v8.15.0

      - name: Dockerfile Lint
        uses: hadolint/hadolint-action@v2.11.0
        with:
          dockerfile: Dockerfile

      - name: Build Docker image
        run: docker build -t my-app:latest .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@v0.0.28
        with:
          image-ref: my-app:latest
          severity: CRITICAL,HIGH

